$rubik-red: #B90000;
$rubik-blue: #0045AD;
$rubik-orange: #FF5900;
$rubik-green: #009B48;
$rubik-yellow: #FFD500;
$rubik-white: #FFFFFF;

// Dark Mode Palette
$dark-gray: #1a1a1a; // Dark color for background
$light-gray: #e5e5e5; // Light color for text
$background-secondary: #2a2a2a;
$border-color: #444;
